.collection-item {
    min-height: 10vh;
    overflow: auto;
}

.username {
    text-align: left;
    float: left;
    width: 10%;
}

.message-content {
    padding-left: 10%;
    overflow: auto;
    max-width: 72%;
}

.message-date{
    float: right;
    font-weight: bold;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}


.Messages{
    height: 60vh;
    overflow: auto;
}