.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.collection .collection-item{
  color: black;
}

.row .col.s10 {
  margin-left: 16%;
}

.row .col.l11 {
  margin-left: 8%;
}

.App-row{
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
}

.Nav-bar {
  background-color: gray;
  margin: 0;
  padding: 0;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.Room-name{
  position: absolute;
  z-index: 2000;
  width: 100%;
  height: 10vh;
}

.Messages{
  margin-top: 11vh;
}

.User-button{
  float: right;
  top: 0;
  margin-left: 90%;
  position: absolute;
}